@model Multi_Language.MVCClient.Models.ProjectsViewModel
@{
    ViewBag.Title = "Edit";
}

<!-- Default box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Edit </h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

@using (Ajax.RawAjaxBeginForm("fa-globe","Edit","Projects",   new {  id=Model.IdProject }, new AjaxOptions {}, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdProject)
        @Html.HiddenFor(model => model.DateCreated)


        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>
    <!-- /.box-body -->
    <div class="box-footer">
     @Ajax.RawActionLinkWithoutIcon("Back to list", "fa-globe", "Index", "Projects", null, new AjaxOptions { }, null)
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->