@model Multi_Language.MVCClient.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">

</div>
<div class="box box-solid box-info">
    <div class="box-header with-border">
        <h4 class="box-title">Associate your @ViewBag.LoginProvider account. After you complete this step, you can login using @ViewBag.LoginProvider in one click without entering any credentials. </h4>
    </div>
    <div class="box-body">

        <div class="col-md-4 col-md-offset-1">
            <p class="text-info">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please enter a credentials for this site below and click the Register button to finish
                logging in.
            </p>
            <div class="box box-solid box-info">
                <div class="box-body">
                    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})


                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-info" value="Associate"/>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <img src="~/Images/Socials/banner/left-logo.png" class="image img-responsive img-thumbnail" />
        </div>
    </div>
</div>

