<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Multi-Language API</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        @Html.Partial("LayoutPartials/MainHeader")

        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("LayoutPartials/MainSidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.ContentHeader
                    <small>@ViewBag.ContentDescription</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#" id="breadcrumb-parent"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active" id="breadcrumb-child">Here</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" id="wrapper-page-content">
                <div class="row">
                    <div class="col-md-3" id="project-box" style="min-height: 176px">
                    </div>

                    <div id="first-row-content" class="col-md-9">
                        @*<div id="loading">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Loading...</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="progress">
                                            <div id="loading" class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>*@

                        <div id="data"></div>
                    </div>
                </div>
                <!-- Your Page Content Here -->
                <div id="page-content">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>

        <!-- Main Footer -->
        @Html.Partial("LayoutPartials/MainFooter")

        <!-- Control Sidebar -->
        @Html.Partial("LayoutPartials/ControlSidebar")

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <iframe id="file-download-frame" style="display:none;"></iframe>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Theme and plugins -->
    @Scripts.Render("~/bundles/theme")
    <style>
        .kv-file-zoom {
            display: none;
        }
    </style>
    <script>

        @using Multi_language.Common
      @{
          var reservedSpace = $"{Utils.GetDiskSpaceUsedPercentage():N1}";
          var freeSpace = $"{100 - Utils.GetDiskSpaceUsedPercentage():N1}";
      }
        var baseAdressApi = '@System.Configuration.ConfigurationManager.AppSettings["MultiLanguageApiUrl"]';

        //Initialise scope for project. Keep global scope clean as f....
        $.MltApi = $.MltApi || {};

        $(document).ajaxStart(function () {
            Pace.restart();
        });
        $(document).ready(function () {
            $.get({ url: "../../Sections/ProjectBox", cache: false }).then(function (data) {
                $("#project-box").append(data);
                $.get({ url: "../../Sections/ProjectBoxDropDowns", cache: false }).then(function (data2) {
                    $("#project-box").append(data2);
                });
            });
            $(".select2").select2();
            $('.dataTable').DataTable();

            $.MltApi.InitICheckBoxes($('input[type=checkbox]'), "red");
            // TODO Add drag and drop options
            $.MltApi.InitFileInput($("#input-backups"), baseAdressApi + "/backup/upload", ['bak']);

            if ($('#pieChartSystemSpace').length > 0) {
                $.MltApi.InitializeDiskSpaceChart(@freeSpace, @reservedSpace);
            }

            var url = $(location).attr('href').split('/');
            LoadFirstRow("../../Sections/FirstRow?id=" + url[3]);

        });

        function HomeIndexLinkClicked(elem) {
            $(".sidebar-menu li").removeClass("active");
            var url = $(location).attr('href').split('/');
            if (url[3] === "") {
                return;
            }
            var content = $(".wrapper").html();
            window.history.pushState({ "html": content, "action":  "" },  "", '../../');
            $("#page-content").fadeTo("fast",
                0,
                function() {
                    $.get("../../",
                        function(data) {
                            $("#breadcrumb-parent").html("<i class='fa fa-globe'></i>" + "Home");
                            $("#page-content").html(data);
                            $("#page-content").fadeTo("fast", 1);
                            $("#first-row-content").fadeTo("fast", 0);
                            $("#first-row-content").hide(250);
                            LoadFirstRow("../../Sections/FirstRow?id=Index");
                        });
                });

            InitialisePlugins();
        };
        function activeProjectIsChanged(e) {
            $("#project-box").fadeTo("fast", 0, function () {
                $("#active-project-box").remove();
                $.get({ url: "../../Sections/ChangeActiveProject?id=" + $(e).val(), cache: false }).then(function (data) {
                    $("#project-box").prepend(data);

                    $("#project-box").fadeTo("fast", 100, function () {
                        var url = $(location).attr('href');

                        $.get({ url: url, cache: false }).then(function (data) {
                            $("#page-content").fadeTo("fast", 0, function () {
                                $("#page-content").html(" ");
                                $("#page-content").append(data);
                                $("#page-content").fadeTo("fast", 100, function () {
                                    urlSplited = url.split('/');
                                    LoadFirstRow("../../Sections/FirstRow?id=" + urlSplited[3]);

                                });
                                InitialisePlugins();

                            });
                        });
                    });
                });

            });

        };

        function InitialisePlugins() {
            // initialise plugins if there is any
            if ($('.dataTable').children().length > 0) {
                $('.dataTable').DataTable();
            }
            if ($('input[type=checkbox]').length > 0) {
                $.MltApi.InitICheckBoxes($('input[type=checkbox]'), "red");
            }
            if ($(".select2").length > 0) {
                $(".select2").select2();
            }
            if ($("#input-backups").length > 0) {
                // TODO Add drag and drop options
                $.MltApi.InitFileInput($("#input-backups"), baseAdressApi + "/backup/upload", ['bak']);
            }

            if ($('#pieChartSystemSpace').length > 0) {
                $.MltApi.InitializeDiskSpaceChart(@freeSpace, @reservedSpace);
            }
        }
        function LoadFirstRow(url) {
            $("#first-row-content").fadeTo("fast", 0, function () {
                var progressElem = $('#first-row-content');
                var URL = url;
                // $("#loading").hide();
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: URL,
                    cache: false,
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                        console.log(thrownError);
                    },
                    success: function (json) {
                        $("#first-row-content").html(json);
                        $("#first-row-content").show(250);
                        $("#first-row-content").fadeTo("fast", 100);
                    }
                });
            });
        };
      

        window.onpopstate = function (e) {
            if (e.state) {
                $(".wrapper").html(e.state.html);
                $("#page-content").fadeIn(200);
                document.title = e.state.action;
                $("#first-row-content").fadeTo("fast", 0);
                $("#first-row-content").hide(250);
                var url = $(location).attr('href').split('/');
                LoadFirstRow("../../Sections/FirstRow?id=" + url[3]);
            }
        };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
