@model Multi_Language.MVCClient.Models.ProjectsViewModel

<!-- Default box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Create new project</h3>
    </div>
    <div class="box-body">

        @using (Ajax.BeginForm("Create", "Projects", null, new AjaxOptions
        {
            OnBegin = "$.MltApi.DocMultilanguage.FormSubmitedBegin(this)",
            OnSuccess = "$.MltApi.DocMultilanguage.FormSubmitedSuccessfully(data, status, xhr)",
            UpdateTargetId = "s"
        }, null))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->

<div class="info-box bg-green box-ajax-success" style="display: none">
    <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">
            <strong>Success!</strong>
        </span>

        <small>You created new project</small>
      <hr class="no-padding" style="margin: 0 0 5px 0"/>
        <a class="btn btn-success right text-uppercase collapsed"
                 data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" >
            Continue with next step
        </a>
    </div>
    <!-- /.info-box-content -->

</div>