@model IEnumerable<Multi_Language.MVCClient.Models.ResourcesViewModels>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4">
        @Html.Partial("InnerPartials/CurrentProjectInfoBox")

    </div>
    <div class="col-md-4">
        @Html.Partial("InnerPartials/LanguagesInfoBox")

    </div>
    <div class="col-md-4">
        @Html.Partial("InnerPartials/ContextsInfoBox")

    </div>
</div>

<!-- Default box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Current resources - @Model.Count()</h3>

        <div class="box-tools pull-right">

            @Ajax.RawActionLinkWithoutIcon("Create New", "fa-cubes", "Create", "Resources",
               null, new AjaxOptions { }, new { @class = "btn btn-success btn-xs" })
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PhraseContext.IdPhraseContext)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhraseText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PhraseContext.IdPhraseContext)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhraseText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhraseContext.IdPhraseContext)
                            <a href="#" data-toggle="tooltip" title="@item.PhraseContext.Context" class="label label-primary pull-right">
                                <i class="fa fa-info"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhraseText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateChanged)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            <div class="btn-group-vertical">
                                @Ajax.RawActionLinkWithoutIcon("Details", "fa-cubes", "Details", "Resources", new { id = item.IdPhrase }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })

                                @Ajax.RawActionLinkWithoutIcon("Edit", "fa-cubes", "Edit", "Resources", new { id = item.IdPhrase }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })


                                @Ajax.RawActionLinkWithoutIcon("Delete", "fa-cubes", "Delete", "Resources", new { id = item.IdPhrase }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

        <p>
            @Ajax.RawActionLinkWithoutIcon("Create New", "fa-cubes", "Create", "Resources", null, new AjaxOptions { }, new { @class = "btn btn-success btn-flat" })
        </p>
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->