@model Multi_Language.MVCClient.Models.LanguagesViewModels

@{
    ViewBag.Title = "Delete";
}
<!-- Default box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Edit - @Model.Name</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Initials)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Initials)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Culture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Culture)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateChanged)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateChanged)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

            </dl>


        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
         @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Ajax.RawActionLinkWithoutIcon("Back to list", "fa-language", "Index", "Languages", null, new AjaxOptions { }, null)
                </div>
            }
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->