@model IEnumerable<Multi_Language.MVCClient.Models.LanguagesViewModels>

<!-- Default box -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Current languages - @Model.Count()</h3>

        <div class="box-tools pull-right">
            @Ajax.RawActionLinkWithoutIcon("Create New", "fa-language", "Create", "Languages",
           null, new AjaxOptions { }, new { @class = "btn btn-success btn-xs" })


            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-hover table-striped dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Initials)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Initials)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Initials)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Culture)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateChanged)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                             @{
                                var url = System.Configuration.ConfigurationManager.AppSettings["MultiLanguageApiUrl"];
                                url = url + "/Project/" + item.IdProject + "/Initials/" + item.Initials;
                            }
                            <div class="btn-group-sm  pull-right">
                                <a href="@url" title="Open link" target="_blank" class="btn btn-info btn-xs">Go to URL</a>

                                @Ajax.RawActionLinkWithoutIcon("Details", "fa-language", "Details", "Languages",
                               new { id = item.IdLanguage }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })

                                @Ajax.RawActionLinkWithoutIcon("Edit", "fa-language", "Edit", "Languages",
                               new { id = item.IdLanguage }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })

                                @Ajax.RawActionLinkWithoutIcon("Delete", "fa-language", "Delete", "Languages",
                               new { id = item.IdLanguage }, new AjaxOptions { }, new { @class = "btn btn-default btn-xs" })
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

        <p>
            @Ajax.RawActionLinkWithoutIcon("Create New", "fa-language", "Create", "Languages", null, new AjaxOptions { }, new { @class = "btn btn-success btn-flat" })
        </p>
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->